<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>
        Dishes
    </title>
</head>
<body>
<style type="text/css">
    body {
        font-family: palatino;
        font-size: 120%;
    }

    .editable i{
        visibility: hidden;
    }

    .editable:hover i{
        visibility: visible;
    }

    .editable i:hover {
        color: red;
        cursor: pointer;
    }

    #footer-bottom {
        background: #2a2a2a;
	    color: #b0b0b0;
    }

    #details div:first-child {
        border-right: 1px solid #d8d8d8;
    }

    #details div:last-child {
        border-left: 1px solid #d8d8d8;
    }
</style>
    <div>
        <h1 class="text-center">Dishes</h1>
    </div>
    <div class="container-fluid alert alert-primary">
    <div id="header-nav" class="container">
        <div class="row">
            <div class="my-auto col-9">
                <nav class="navbar navbar-expand-lg">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active mr-2">
                            <a href="/dishes" class="active nav-link h5">Главная</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a href="/dishes" class="nav-link h5">Добавить блюдо</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Название блюда">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<div id="footer-bottom" class="p-4 mt-3 align-bottom">
	<div class="container">
		<div class="eight columns">© Copyright 2014 by <a href="https://github.com/BigBlackWolf">Stepan Rasputny</a>. All Rights Reserved.</div>
	</div>
</div>

</body>
</html>