{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-9">
        <img src="/static/recipePhoto-03.jpg" class="img-fluid" alt="">
    </div>
</div>
<div class="row mt-4" id="add_dish">
    <div class="col-9">
        {% for i in range(message|length)[::3] %}
            <div class="d-flex justify-content-center">
                {% for item in message[i:i+3] %}
                    <div class="alert alert-primary flex-fill mx-2">
                        <a href="/dishes/{{ item.id }}">
                            <img src="/static/default.jpg" alt="" class="img-fluid"/>
                            <h3>{{ item.name }}</h3>
                        </a>
                        <hr>
                        <div class="rating mb-3">
                            {% for k in  range(3) %}
                                <i class="far fa-star" alt="{{ k }}"></i>
                            {% endfor %}
                        </div>
                        <div class="time mb-3">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary" onclick="deleteDish({{ item.id }})">Удалить</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="row mt-4 alert alert-warning">
    <div class="col-9">
        <form id="addForm" class="form-group">
            <div class="form-group">
                <label for="dishName">Название</label>
                <input type="text" id="dishName" placeholder="Название блюда" class="form-control">
            </div>
            <div class="form-group">
                <label for="dishCategory">Категория</label>
                <input type="text" id="dishCategory" placeholder="Категория" class="form-control">
            </div>
            <div class="form-group">
                <label for="dishRecipe">Рецепт</label>
                <textarea id="dishRecipe" placeholder="Рецепт" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="dishPhoto">Фото</label>
                <input type="file" id="dishPhoto" placeholder="Фото" class="form-control-file">
            </div>
            <div class="form-group">
                <label for="dishIngredients">Ингридиенты</label>
                <div class="form-row alert alert-primary">
                    <div class="col-8">
                        <input type="text" id="dishIngredients" placeholder="Название" class="form-control">
                    </div>
                    <div class="col-3">
                        <input type="text" id="dishIngredients" placeholder="Количество" class="form-control">
                    </div>
                    <div class="col my-auto text-right">
                        <i class="far fa-times-circle"></i>
                    </div>
                </div>
                <button class="alert alert-primary h5">Добавить Ингр</button>
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    </div>
</div>

<script>
const url = window.location.pathname;

function deleteDish(id) {
    fetch(url + '/' + id, {
        method: 'DELETE',
    })
        .then(response => {
            if (response.status === 200) {
                document.getElementById(id).remove();
            }
        });
}

addForm.onsubmit = async (e) => {
    e.preventDefault();
    let data = new FormData(addForm)
    let object = {};
    data.forEach((value, key) => {object[key] = value});

    const response = await fetch(url, {
        method: 'POST',
        body: JSON.stringify(object)
    });

    let new_dish_id = await response.json();
    const new_div = document.createElement("div");
    new_div.innerHTML = `<div class=\"alert alert-primary col-8\">
                    <a href=\"/dishes/${new_dish_id["message"]}\">
                        <div>${object["name"]}</div>
                    </a>
                </div>
                <div class=\"col-4\">
                    <button class=\"btn btn-primary\" onclick=\"deleteDish(${new_dish_id["message"]})\">Удалить</button>
                </div>`
    new_div.setAttribute("id", new_dish_id["message"]);
    new_div.setAttribute("class", "row");
    add_dish1 = document.getElementById("add_dish")
    add_dish1.appendChild(new_div)
}

</script>
{% endblock %}