<!DOCTYPE html>
<head>

<meta charset="utf-8">
<title>Chow</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/colors/green.css" id="colors">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body class="boxed">

<!-- Wrapper -->
<div id="wrapper">


<!-- Header
================================================== -->
<header id="header">

<!-- Container -->
<div class="container">

	<!-- Logo / Mobile Menu -->
	<div class="three columns">
		<div id="logo">
			<h1><a href="index-2.html"><img src="images/logo2.png" alt="Chow" /></a></h1>
		</div>
	</div>


<!-- Navigation
================================================== -->
<div class="sixteen columns navigation">

	<nav id="navigation" class="menu alternative nav-collapse ">
		<ul>
			<li><a href="index-2.html">Home</a></li>

			<li><a href="submit-recipe.html">Submit Recipe</a></li>
		</ul>
	</nav>

</div>

</div>
<!-- Container / End -->
</header>


<!-- Slider
================================================== -->
<div class="container">
	<div class="sixteen columns">

		<div id="homeSliderAlt" class="royalSlider homeSliderAlt rsDefault">

	  		<div class="rsContent">
				<a class="rsImg" href="images/sliderB_01.jpg">
					<div class="rsTmb">
						<h5>Avocado Melon Salad With Lime Vinaigrette</h5>
					</div>
				</a>
	  			<a href="recipe-page-2.html" class="rsABlock blockTitle">Avocado Melon Salad With Lime Vinaigrette</a>
			</div>

	  		<div class="rsContent">
				<a class="rsImg" href="images/sliderB_02.jpg">
					<div class="rsTmb">
						<h5>Farmhouse Vegetable And Barley Soup</h5>
					</div>
				</a>
				<a href="recipe-page-1.html" class="rsABlock blockTitle">Farmhouse Vegetable And Barley Soup</a>
			</div>

	  		<div class="rsContent">
				<a class="rsImg" href="images/sliderB_03.jpg">
					<div class="rsTmb">
						<h5>Roast Chicken With Lemon Gravy</h5>
					</div>
				</a>
				<a href="recipe-page-1.html" class="rsABlock blockTitle">Roast Chicken With Lemon Gravy</a>
			</div>

	  		<div class="rsContent">
				<a class="rsImg" href="images/sliderB_04.jpg">
					<div class="rsTmb">
						<h5>Chunky Beef Stew</h5>
					</div>
				</a>
				<a href="recipe-page-2.html" class="rsABlock blockTitle">Chunky Beef Stew</a>	
			</div>

	  		<div class="rsContent">
				<a class="rsImg" href="images/sliderB_05.jpg">
					<div class="rsTmb">
						<h5>Mexican Grilled Corn Recipe</h5>
					</div>
				</a>
				<a href="recipe-page-1.html" class="rsABlock blockTitle">Mexican Grilled Corn Recipe</a>
			</div>

	  		<div class="rsContent">
				<a class="rsImg" href="images/sliderB_06.jpg">
					<div class="rsTmb">
						<h5>Choclate Cake With Green Tea Cream</h5>
					</div>
				</a>
				<a href="recipe-page-1.html" class="rsABlock blockTitle">Choclate Cake With Green Tea Cream</a>
			</div>

	  		<div class="rsContent">
				<a class="rsImg" href="images/sliderB_07.jpg">
					<div class="rsTmb">
						<h5>Thai Yellow Curry Chicken</h5>
					</div>
				</a>
				<a href="recipe-page-2.html" class="rsABlock blockTitle">Thai Yellow Curry Chicken</a>
			</div>

		</div>
	</div>
</div>

<div class="clearfix"></div>

<div class="margin-top-45"></div>


<!-- Content
================================================== -->
<div class="container">

	<!-- Masonry -->
	<div class="twelve columns">

		<!-- Isotope -->
		<div class="isotope">

					<!-- Recipe #1 -->
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="images/recipeThumb-01.jpg" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Mexican Grilled <br> Corn Recipe</a></h3>
					
					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 30 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #2 -->
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-2.html">
						<img src="images/recipeThumb-02.jpg" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>
				
				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-2.html">Choclate Cake With Green Tea Cream</a></h3>
					
					<div class="rating four-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 1 hr 30 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #3 -->
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="images/recipeThumb-03.jpg" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>
				
				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Thai Yellow Curry Chicken</a></h3>
					
					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 45 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

		</div>
		<div class="clearfix"></div>

		<!-- Pagination -->
		<div class="pagination-container masonry">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev"></a></li>
					<li><a href="#" class="next"></a></li>
				</ul>
			</nav>
		</div>

	</div>


<!-- Sidebar
================================================== -->
<div class="four columns">

	<!-- Search Form -->
	<div class="widget search-form">
		<nav class="search">
			<form action="#" method="get">
				<button><i class="fa fa-search"></i></button>
				<input class="search-field" type="text" placeholder="Search for recipes" value=""/>
			</form>
		</nav>
		<div class="clearfix"></div>
	</div>
</div>

<div class="margin-top-5"></div>

</div>
<!-- Container / End -->


</div>
<!-- Wrapper / End -->


<!-- Footer
================================================== -->
<div id="footer">

	<!-- Container -->
	<div class="container">


	</div>
	<!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

	<!-- Container -->
	<div class="container">

		<div class="eight columns">© Copyright 2014 by <a href="#">Stepan Rasputny</a>. All Rights Reserved.</div>

	</div>
	<!-- Container / End -->

</div>



<!-- Java Script
================================================== -->
<script data-cfasync="false" src="http://www.vasterad.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="scripts/jquery-1.11.0.min.js"></script>
<script src="scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.superfish.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/responsive-nav.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/isotope.pkgd.min.js"></script>
<script src="scripts/chosen.jquery.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/custom.js"></script>


</body>

</html>