{% extends "base.html" %}

{% block content %}

<div class="row mt-4 alert alert-warning">
    <div class="col-9">
        <form id="addForm" class="form-group">
            <div class="form-group">
                <label for="name">Название</label>
                <input type="text" id="name" placeholder="Название блюда" class="form-control">
            </div>
            <div class="form-group">
                <label for="category">Категория</label>
                <div id="category" class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span>Без категории</span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      {% for category in categories %}
                        <a class="dropdown-item" data-target="#" onclick="choose(this)">{{ category }}</a>
                      {% endfor %}
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label for="recipe">Рецепт</label>
                <textarea id="recipe" placeholder="Рецепт" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="photo_url">Фото</label>
                <input type="file" id="photo_url" placeholder="Фото" class="form-control-file">
            </div>
            <div class="form-group">
                <label for="ingredients">Ингридиенты</label>
                <ul id="ingredients" class="list-group">
                    <li class="form-row alert alert-primary">
                        <div class="col-8 dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>Не выбрано</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for ingredient in ingredients %}
                                    <a class="dropdown-item" data-target="#" onclick="choose(this)">{{ ingredient }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-3">
                            <input type="text" placeholder="Количество" class="form-control">
                        </div>
                        <div class="col my-auto text-right">
                            <i class="far fa-times-circle" onclick="destroy_object(this)"></i>
                        </div>
                    </li>
                </ul>
                <button id="addIngredient" type="button" class="alert alert-primary h5">Добавить Ингр</button>
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>

<script>
const url = window.location.pathname;

function destroy_object(item) {
    item.parentElement.parentElement.remove();
}

function choose(item) {
    item.parentElement.parentElement.children[0].children[0].textContent = item.innerHTML
}

addForm.onsubmit = async (e) => {
    e.preventDefault();
    let object = {"ingredients": []};
    const formDataCustom = addForm.getElementsByClassName("form-group");
    for (let i = 0; i < formDataCustom.length; i++) {
        let key = formDataCustom[i].children[0].getAttribute("for")
        let input = formDataCustom[i].children[1];
        if (key === "ingredients") {
            const elements = input.getElementsByTagName("li");
            let name, quantity, ingredient = {};
            for (let j = 0; j < elements.length; j++) {
                // TODO: fix here
                name = elements[j].getElementsByTagName("div")[0].children[0].children[0].value
                quantity = elements[j].getElementsByTagName("div")[1].children[0]
                ingredient[name] = quantity
                object["ingredients"].push(ingredient)
            }
        } else
            object[key] = input.value
    }

    await fetch(url, {
        method: 'POST',
        body: JSON.stringify(object)
    }).then(response => {
       if (response.status === 200)
           document.location.pathname = "/dishes"
    });
}

addIngredient.onclick = () => {
    const ingredients = document.getElementById("ingredients");
    let new_elem = ingredients.getElementsByTagName("li")[0].cloneNode(true)
    ingredients.appendChild(new_elem);
}

</script>
{% endblock %}